@page
@model AccountModel
@{
    ViewData["Title"] = "Login page";
}

<h1>Account informations</h1>

<p>
    Name of the account : 
    <input type="text" class="input-form" value="<name>"/>

    Address of the account : 
    <input type="text" class="input-form" value="<address>"/>

    Password of the account : 
    <input type="text" class="input-form" value="<password>"/>

</p>

<a href="Menu">Back to menu ...</a>
<button class="btn btn-secondary">Generate new password ...</button>
<button class="btn btn-secondary">Edit account ...</button>
<button class="btn btn-secondary">Delete account ...</button>

