@page
@model LoginModel
@{
    ViewData["Title"] = "Login page";
}

<h1>Login</h1>
<form>
    <input id="input_password" class="form-control" type="password" placeholder="Your password"/>
    <button type="submit" class="btn btn-success">Ok</button>
</form>
