@page
@model MenuModel
@{
    ViewData["Title"] = "Login page";
}

<h1>Your accounts</h1>

<!-- Table of accounts -->
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Amazon</td>
    </tr>
    <tr>
      <td>League of legends</td>
    </tr>
    <tr>
      <td>La banque postale</td>
    </tr>
  </tbody>
</table>
