@page
@model PasswordModel
@{
    ViewData["Title"] = "Login page";
}

<h1>Generate a random password</h1>

<p>
    <span id="label_password">PASSWORD</span>
</p>

<form>
    <p>Configure your password ...</p>

    <!-- Checkboxes for password parameters -->
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="check_upper">
        <label class="form-check-label" for="check_upper">
            Enable Upper-case characters
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="check_lower">
        <label class="form-check-label" for="check_lower">
            Enable Lower-case characters
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="check_number">
        <label class="form-check-label" for="check_number">
            Enable Numbers
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="check_symbols">
        <label class="form-check-label" for="check_symbols">
            Enable Symbols
        </label>
    </div>

    <!-- Size of the password -->
    <label for="input_password_size">Password size</label>
    <input type="range" class="custom-range" min="5" max="20" id="input_password_size">

    <!-- Mandatory characters -->
  <div class="form-group">
    <label for="input_mandatory">Mandatory characters</label>
    <input type="text" class="form-control" id="input_mandatory">
  </div> 

    <!-- Generate button -->
  <button id="button_generate" class="btn btn-secondary">Generate random password</button>

    <!-- Submit button -->
  <button id="button_submit" type="submit" class="btn btn-success">Submit this password</button>

</form>
