@page
@model SetupModel
@{
    ViewData["Title"] = "Login page";
}

<h1>Change your password</h1>
<form>
    <input id="input_old_password" class="form-control" type="password" placeholder="Your old password"/>
    <input id="input_new_password_1" class="form-control" type="password" placeholder="Your new password"/>
    <input id="input_new_password_2" class="form-control" type="password" placeholder="Confirm your new password"/>
    <button type="submit" class="btn btn-success">Ok</button>
</form>
